.additional-goods {
  position: relative;
  margin-bottom: 35px;

  @include tablet {
    padding-top: 30px;
    margin-bottom: 109px;
  }

  @include desktop {
    padding-top: 44px;
    margin-bottom: 89px;
  }
}

.additional-goods__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding: 0;
    margin-top: 88px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--inline {
    display: inline-block;
  }
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include tablet {
    margin-top: 89px;
  }

  @include desktop {
    width: 895px;
    margin-top: 84px;
  }
}

.additional-goods__item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 17px;
  padding-top: 14px;
  border-bottom: 1px solid #ededed;

  &:nth-of-type(1) {
    border-top: 1px solid #ededed;
  }

  @include tablet {
    padding: 0;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 20px;
    padding-bottom: 28px;
    border-bottom: none;
    outline: 1px solid #ededed;

    &:nth-of-type(1) {
      border-top: none;
    }
  }

  @include desktop {
    justify-content: initial;
    flex-wrap: nowrap;
    align-items: center;
    outline: none;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;

    &:nth-of-type(1) {
      border-top: 1px solid #ededed;
    }
  }
}

.additional-goods__name {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;

  @include tablet {
    width: auto;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    width: 325px;
  }
}

.additional-goods__description {
  display: flex;
  justify-content: space-between;

  @include tablet {
    width: 200px;
  }
}

.additional-goods__quantity,
.additional-goods__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-goods__quantity {
  @include tablet {
    margin: 0;
    margin-left: auto;
  }

  @include desktop {
    margin-left: initial;
    width: 150px;
    text-align: left;
  }
}

.additional-goods__price {
  margin-left: auto;

  @include tablet {
    width: 100px;
    text-align: right;
    margin: 0;
    margin-left: initial;
  }

  @include desktop {
    width: auto;
    margin-left: 94px;
  }
}

.additional-goods__button {
  display: block;
  width: 100%;

  @include tablet {
    margin-top: 22px;
  }

  @include desktop {
    width: auto;
    padding-left: 90px;
    padding-right: 90px;
    margin: 0;
    margin-left: auto;
  }
}

.additional-goods__promo-wrapper {
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 37px;

  @include retina {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @include tablet {
    margin: 0;
    margin-top: 75px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @include desktop {
    margin: 0;
    margin-top: 78px;
    margin-left: auto;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @include retina {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    top: 64px;
    left: 112px;
    width: 56px;
    height: 61px;

    @include desktop {
      left: 95px;
    }
  }
}

.additional-goods__promo {
  width: 159px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;
  padding-top: 186px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;

  @include tablet {
    text-align: left;
    width: 161px;
    padding-top: 71px;
    padding-right: 125px;
    padding-bottom: 65px;
    padding-left: 422px;
  }

  @include desktop {
    margin: 0;
    padding-top: 188px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}
