.advantages {
  padding: 0 20px;
  margin-top: 19px;

  @include tablet {
    padding: 0;
    margin-top: 45px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  list-style: none;
  margin-top: 28px;
  margin-left: 80px;

  @include tablet {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    /* margin-bottom: 150px; */

    &:nth-of-type(2n) {
      margin-left: 140px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 184px;
    }

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin-top: 245px;
      /* margin-bottom: 50px; */
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }

  @include desktop {
    margin-left: 120px;
    margin-top: 160px;
    margin-bottom: 30px;

    &:nth-of-type(2n) {
      margin-left: 0;
    }

    &:nth-of-type(1) {
      margin-top: 182px;
    }

    &:nth-of-type(2) {
      width: 222px;
      margin-left: 81px;
      margin-top: 182px;
    }

    &:nth-of-type(3) {
      width: 204px;
      margin-left: 101px;
      margin-top: 182px;
    }

    &:nth-of-type(4) {
      width: 245px;
      margin-top: 182px;
      margin-left: 120px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-color: #68b738;
    background-position: 50% 50%;

    @include tablet {
      left: 0;
      top: -112px;
      width: 80px;
      height: 80px;
    }
  }

  &:nth-of-type(1)::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @include retina {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: cover;
    }
  }

  &:nth-of-type(2)::before {
    background-image: url("../img/advantage-powder@1x.png");

    @include retina {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: cover;
    }
  }

  &:nth-of-type(3)::before {
    background-image: url("../img/advantage-dining@1x.png");

    @include retina {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: cover;
    }
  }

  &:nth-of-type(4)::before {
    background-image: url("../img/advantage-clock@1x.png");

    @include retina {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: cover;
    }
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -152px;
      right: -4px;
      z-index: -1;
    }
  }

  &:nth-of-type(1)::after {
    @include tablet {
      content: "1";
    }

    @include desktop {
      right: 13px;
    }
  }

  &:nth-of-type(2)::after {
    @include tablet {
      content: "2";
    }

    @include desktop {
      right: -25px;
    }
  }

  &:nth-of-type(3)::after {
    @include tablet {
      content: "3";
    }

    @include desktop {
      right: -42px;
    }
  }

  &:nth-of-type(4)::after {
    @include tablet {
      content: "4";
    }

    @include desktop {
      right: -5px;
    }
  }
}
