.advantages {
  padding: 0 20px;

  @include tablet {
    padding: 0;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  list-style: none;
  margin-top: 16px;
  margin-left: 80px;

  @include tablet {
    width: 201px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 150px;

    &:nth-of-type(2n) {
      margin-left: 170px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 200px;
    }

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin-bottom: 50px;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }

  @include desktop {
    margin-left: 120px;
    margin-top: 160px;
    margin-bottom: 30px;

    &:nth-of-type(2n) {
      margin-left: 120px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 160px;
    }

    &:nth-of-type(3) {
      margin-left: 120px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-color: #68b738;
    background-position: 50% 50%;

    @include tablet {
      left: -1px;
      top: -95px;
      width: 80px;
      height: 80px;
    }
  }

  &:nth-of-type(1)::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &:nth-of-type(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &:nth-of-type(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &:nth-of-type(4)::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -135px;
      right: -45px;
      z-index: -1;
    }
  }

  &:nth-of-type(1)::after {
    @include tablet {
      content: "1";
    }
  }

  &:nth-of-type(2)::after {
    @include tablet {
      content: "2";
    }
  }

  &:nth-of-type(3)::after {
    @include tablet {
      content: "3";
    }
  }

  &:nth-of-type(4)::after {
    @include tablet {
      content: "4";
    }
  }
}
