.btn{
    display: block;
    width: 280px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #68b738;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
  }

.btn.btn--silver{
  color: #444444;
  background-color: #f2f2f2;
}
