.catalog-choice__item {
  box-sizing: border-box;
  width: 280px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 21px;
  padding-right: 21px;
  background-color: #f2f2f2;
  list-style: none;
}

.catalog-choice__name {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
}

.catalog-choice__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.catalog-choice__button {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
}
