.catalog__item-name{
    font-size: 16px;
    line-height: 20px;
    color: #111111;
}

.catalog__plus{
    font-size: 16px;
    line-height: 20px;
    color: #111111;
}

.catalog__intrigue{
    font-size: 12px;
    line-height: 16px;
    color: #444444;
}
