.catalog-choice {
  padding: 0 $mobile-padding;

  @include tablet {
    /* padding: 0 $tablet-padding; */
    padding: 0;
  }

  @include desktop {
    padding: 0;
    margin-bottom: 79px;
    margin-top: 75px;
  }
}

.catalog-choice__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-choice__item {
  position: relative;
  box-sizing: border-box;
  margin-top: 22px;
  padding-top: 28px;
  padding-bottom: 21px;
  padding-left: 21px;
  padding-right: 21px;
  list-style: none;
  background-color: #f2f2f2;

  @include tablet {
    width: 768px;
    margin-top: 30px;
    padding-top: 78px;
    padding-bottom: 58px;
    padding-left: 55px;
    padding-right: 215px;
  }

  @include desktop {
    width: 570px;
    padding-left: 59px;

    &:nth-of-type(2) {
      margin-left: 80px;
    }
  }
}

.catalog-choice__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  width: 50px;
  height: 51px;
  border-radius: 50%;
  background-color: #68b738;

  @include tablet {
    width: 200px;
    height: 200px;
    top: 95px;
    /* left: auto; */
    right: 59px;
  }

  @include desktop {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 60px;
  }
}

.catalog-choice__item::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

.catalog-choice__item:nth-of-type(1)::after {
  width: 35px;
  height: 49px;
  top: 22px;
  left: 29px;
  background-image: url("../img/icon-cat-slim.svg");

  @include tablet {
    width: 141px;
    height: 194px;
    top: 83px;
    left: auto;
    right: 88px;
  }

  @include desktop {
    width: 71px;
    height: 97px;
    top: 41px;
    left: 74px;
  }
}

.catalog-choice__item:nth-of-type(2)::after {
  width: 67px;
  height: 28px;
  top: 35px;
  left: 10px;
  background-image: url("../img/icon-cat-pro.svg");

  @include tablet {
    width: 268px;
    height: 113px;
    top: 140px;
    left: auto;
    right: 25px;
  }

  @include desktop {
    width: 134px;
    height: 57px;
    left: 41px;
    top: 69px;
  }
}

.catalog-choice__name {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;
  margin-left: 71px;

  @include tablet {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
  }

  @include desktop {
    width: 212px;
    margin-left: 166px;
  }
}

.catalog-choice__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #f2f2f2;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 40px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 56px;
  }
}

.catalog-choice__description::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -24px;
  height: 1px;
  width: 100%;
  background-color: #f2f2f2;

  @include tablet {
    display: none;
  }
}

.catalog-choice__item:nth-of-type(1) .catalog-choice__description {
  @include tablet {
    width: 372px;
  }

  @include desktop {
    width: 462px;
    margin-top: 72px;
    margin-bottom: 30px;
  }
}

.catalog-choice__item:nth-of-type(2) .catalog-choice__description {
  @include tablet {
    width: 340px;
  }

  @include desktop {
    width: 465px;
    margin-top: 72px;
    margin-bottom: 31px;
  }
}

.catalog-choice__button {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: -34px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    @include tablet {
      top: 8px;
      right: -47px;
    }
  }

  &:active::after {
    width: 34px;
    height: 12px;
    opacity: 0.3;
  }

  &:hover::after {
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    &::after {
      right: -48px;
    }
  }
}
