.catalog__description {
  margin-top: 35px;
  width: 140px;

  @include tablet {
    padding-top: 165px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #ededed;

  @include tablet {
    margin: 0;
    background-color: #f2f2f2;
    margin-top: 140px;
    width: 324px;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  @include desktop {
    width: 245px;
  }
}

.catalog__link {
  @include tablet {
    margin: 0 auto;
  }
}

.catalog__image {
  width: 140px;
  height: 144px;

  @include tablet {
    /* top: -45px; */
    bottom: 274px;
    left: 70px;
    width: auto;
    height: auto;
    position: absolute;
  }

  @include desktop {
    left: 30px;
  }
}

.catalog__item--show-all {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #ededed;

  @include tablet {
    outline: 1px solid rgba(205, 205, 205, 0.5);
    border-bottom: none;
    border-top: none;
  }
}

.catalog__item--show-all::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 145px;
  width: 31px;
  height: 31px;
  background-image: url("../img/icon-plus-mobile.svg");
  opacity: 0.3;

  @include tablet {
    top: 45px;
    left: 125px;
    width: 61px;
    height: 61px;
    background-image: url("../img/icon-plus.svg");
    opacity: 0.2;
  }

  @include desktop {
    left: 90px;
  }
}

.catalog__item-name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  width: 80px;

  @include tablet {
    font-size: 20px;
    margin: 0 auto;
    width: 130px;
  }
}

.catalog__plus {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 50px;

  @include tablet {
    font-size: 20px;
    margin-top: 145px;
    margin-bottom: 20px;
    width: 135px;
  }
}

.catalog__intrigue {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    font-size: 16px;
    width: 170px;
  }
}

.catalog__order-button {
  width: 100%;

  @include tablet {
    margin-top: 33px;
  }
}
