.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  margin: auto;

  @include tablet {
    max-width: 768px;
    width: auto;
    margin: auto;
  }

  @include desktop {
    max-width: 1440px;
    width: auto;
  }
}

.contacts__cooperation {
  width: 123px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;

  @include tablet {
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__block {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;

  @include tablet {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include desktop {
    z-index: 1;
    width: 570px;
    position: absolute;
    top: 90px;
    left: 50px;
    background-color: white;
  }
}

.contacts__block--grey {
  background-color: #f2f2f2;

  @include desktop {
    background-color: white;
  }
}

.contacts__address-wrapper {
  display: flex;
  flex-direction: column;
  width: 135px;

  @include tablet {
    width: 155px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;

  @include tablet {
    font-size: 16px;
    text-align: right;

    &--city {
      margin-top: 15px;
    }
  }
}

.contacts__map {
  @include tablet {
    width: auto;
  }

  @include desktop {
    width: 100%;
    max-width: 1440px;
  }
}

.contacts__map-wrapper {
  position: relative;
}

.contacts__map-pin {
  position: absolute;
  top: 139px;
  left: 136px;
  width: 55px;
  height: 55px;

  @include tablet {
    width: 113px;
    height: 106px;
    top: 325px;
    left: 333px;
  }

  @include desktop {
    left: 1009px;
  }
}
