.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  background-color: #f2f2f2;

  @include tablet {
    /* max-width: 768px; */
    max-width: none;
    width: auto;
    margin: auto;
  }

  @include desktop {
    max-width: 1440px;
    width: auto;
  }
}

.contacts__cooperation {
  width: 124px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-right: 17px;

  @include tablet {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__block {
  max-width: 320px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  background-color: white;

  @include tablet {
    width: 100%;
    max-width: 768px;
    margin: 0;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 37px;
    padding-bottom: 37px;
  }

  @include desktop {
    z-index: 1;
    width: 570px;
    position: absolute;
    top: 90px;
    left: 50px;
    padding-left: 76px;
    box-sizing: border-box;
    padding-right: 90px;
  }
}

/* .contacts__block--grey {
  background-color: #f2f2f2;

  @include desktop {
    background-color: white;
  }
} */

.contacts__address-wrapper {
  display: flex;
  flex-direction: column;
  width: 135px;

  @include tablet {
    width: 155px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;

  @include tablet {
    font-size: 16px;
    text-align: right;

    &--city {
      margin-top: 15px;
    }
  }
}

.contacts__map {
  @include tablet {
    width: 100%;
  }

  @include desktop {
    max-width: 1440px;
  }
}

.contacts__map-wrapper {
  max-width: 320px;
  margin: auto;
  position: relative;

  @include tablet {
    max-width: 768px;
    width: 100%;
    margin-top: 23px;
  }

  @include desktop {
    max-width: none;
    width: 100%;
  }
}

.contacts__map-pin {
  position: absolute;
  top: 139px;
  left: 136px;
  width: 55px;
  height: 55px;

  @include tablet {
    width: 113px;
    height: 106px;
    top: 150px;
    left: 333px;
  }

  @include desktop {
    left: 1009px;
  }
}
