.description-list {
  padding: 0;

  @include tablet {
    margin-top: 27px;
  }
}

.description-list__item {
  list-style: none;
  display: flex;
  justify-content: space-between;

  @include tablet {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
    margin-top: 9px;
  }
}

.description-list__item:last-child .description-list__text--right {
  text-transform: uppercase;
}

.description-list__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  &--right {
    text-align: right;
  }

  @include tablet {
    font-size: 16px;
  }
}
