.description-list__text--left{
    font-family: "ArialMT";
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    text-align: left;
}

.description-list__text--right{
    font-family: "ArialMT";
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    text-align: right;
}
