.example {
  width: 320px;
  margin: auto;
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f2f2f2;

  @include tablet {
    width: 768px;
    margin-top: 100px;
    width: 100%;
    background-color: transparent;
    border-top: 1px solid #f2f2f2;
  }

  @include desktop {
    background-color: #f2f2f2;
  }
}

.example__wrapper {
  padding: 0 $mobile-padding;

  @include tablet {
    padding: 0 $tablet-padding;
  }

  @include desktop {
    display: flex;
    padding: 0 $desktop-padding;
  }
}

.example__wrapper-two {
  @include tablet {
    margin-top: 50px;
  }
}

.example__wrapper-three {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    display: block;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    width: 430px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.example__item {
  width: 124px;
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 1px solid #cdcdcd;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  @include tablet {
    width: 162px;

    &:nth-of-type(1) {
      margin-right: 42px;
    }
  }
}

.example__achievement-number {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;

  @include tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__achievement {
  width: 55px;
  position: absolute;
  bottom: -16px;
  left: 34px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #f2f2f2;

  @include tablet {
    left: 50px;
    background-color: white;
  }

  @include desktop {
    width: 118px;
    left: 25px;
    bottom: -7px;
    background-color: #f2f2f2;
  }
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

  @include tablet {
    width: 174px;
    font-size: 20px;
    text-align: right;
  }

  @include desktop {
    text-align: left;
  }
}

.example__stripe {
  display: flex;
  justify-content: space-between;
}

.example__stripe-button {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.example__photo-wrapper {
  @include tablet {
    background: linear-gradient(to right, #f2f2f2 50%, #ebebeb 50%);
    margin-top: 100px;
  }

  @include desktop {
    background: transparent;
  }
}

.example__slider {
  position: relative;
  height: 14px;
  width: 84px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: white;

  @include tablet {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }
}

.example__slider-in {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 35px;
  height: 5px;
  background-color: #68b738;
  border-radius: 10px;

  @include tablet {
    top: -13px;
    left: 197px;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      left: 13px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
    }
  }
}
