.footer {
  outline: 1px solid red;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 39px;
  padding-bottom: 31px;
/*   margin: 0 auto; */

  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__logo-text {
  display: block;
  width: 128px;
  height: 24px;
  background-image: url("../../img/logo-footer.svg");
  background-repeat: no-repeat;
  align-self: center;

  @include tablet {
    align-self: auto;
  }
}

.footer__text {
  font-family: "Arial";
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.footer__logo {
  fill: #666666;
  width: 27px;
  height: 34px;
}

.footer__wrapper{
  display: flex;
  justify-content: space-between;
}
