.header {
  /* outline: 1px solid yellow; */
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 0;
  padding-right: 0;

  @include tablet {
    /* max-width: 768px; */
    width: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &--border-bottom {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #f2f2f2;

    @include tablet {
      border-bottom: none;
    }
  }
}

.header .container {
  max-width: 320px;
  width: auto;
  padding-left: 20px;
  padding-right: 14px;

  @include tablet {
    max-width: 768px;
    padding-left: 29px;
    padding-right: 31px;
  }

  @include desktop {
    max-width: 1220px;
    padding: 0;
  }
}

.header__nav {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-between;

  /*   &--nojs > .header__navigation-list{
    display: none;
  } */
}

.header__navigation-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;

  @include tablet {
    display: flex;
    align-items: center;
  }
}

.header__navigation-item {
  margin-left: 31px;
}

.header__page-name {
  color: #222222;
  text-transform: uppercase;

  @include tablet {
    font-size: 18px;
    line-height: 25px;
  }

  @include desktop {
    font-size: 20px;
  }

  &:not(.header__page-name--current):hover {
    opacity: 0.6;
  }

  &:not(.header__page-name--current):active {
    opacity: 0.3;
  }

  &--current {
    border-bottom: 2px solid #68b738;
    padding-bottom: 9px;
  }

  &--white {
    @include desktop {
      color: white;
    }
  }

  &--white.header__page-name--current {
    @include desktop {
      padding-bottom: 6px;
      border-bottom: 2px solid white;
    }
  }
}

.header__logo {
  display: block;
  width: 191px;
  height: 39px;
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;

  @include tablet {
    background-image: url("../img/logo-tablet.svg");
    width: 174px;
    height: 59px;
  }

  @include desktop {
    background-image: url("../img/logo-desktop.svg");
    width: 203px;
    height: 60px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__button {
  background-color: transparent;
  border: none;

  @include tablet {
    display: none;
  }
}

.header__button::before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}
