.header {
  outline: 1px solid yellow;
  margin: 0 auto;
  width: 320px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    width: 768px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop {
    width: 1440px;
    padding-top: 53px;
    padding-bottom: 53px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.header__nav {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /*   padding-left: 20px;
  padding-right: 20px; */

  /*   @include tablet {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  } */
}

.header__navigation-list {
  display: none;
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
  margin-left: auto;

  @include tablet {
    display: flex;
  }
}

.header__navigation-item {
  margin-left: 35px;
  text-transform: uppercase;
}

.header__button {
  @include tablet {
    display: none;
  }
}
