.index-body {
  @include desktop {
    &::before {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 50%;
      height: 700px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-color: #65a93c;
      background-position-x: right;
      z-index: -1;

      @include retina {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }
}
