.index-page-title {
  color: white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  text-align: center;

  @include tablet {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop{
    width: 420px;
    margin-top: 80px;
    margin-left: 140px;
  }
}
