.line {
  position: relative;
  top: 35px;
  height: 3px;
  background-color: #68b738;
  border: none;
  z-index: -1;

  @include tablet {
    top: 75px;
  }

  @include desktop {
    top: 103px;
  }
}
