/* .program-form {
  display: flex;
  flex-direction: column;
} */

.program-form__text {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  padding: 0 $mobile-padding;

  @include tablet {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 $tablet-padding;
  }

  @include desktop {
    padding: 0;
  }
}

.program-form__label,
.program-form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  white-space: nowrap;

  @include tablet {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    width: auto;
  }
}

.program-form__label {
  position: relative;
  align-self: center;

  @include tablet {
    width: auto;
  }
}

.program-form__radio ~ .program-form__label {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    @include tablet {
      top: -6px;
      left: -44px;
      width: 40px;
      height: 40px;
    }
  }
}

.program-form__radio:checked ~ .program-form__label {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: -26px;
    width: 12px;
    height: 12px;
    background-color: #68b738;
    border-radius: 50%;

    @include tablet {
      top: 5px;
      left: -30px;
      width: 18px;
      height: 18px;
    }
  }
}

.program-form__radio:hover ~ .program-form__label {
  &::before {
    border: 1px solid #bababa;
  }
}

.program-form__radio:active ~ .program-form__label {
  opacity: 0.3;
}

.program-form__radio-wrapper {
  margin-left: 30px;
  margin-top: 20px;
}

.program-form__input {
  width: 100%;
  height: 45px;
  padding-left: 11px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  outline: 1px solid rgba(205, 205, 205, 0.5);

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    outline: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    outline: 2px solid #444444;

    & ~ .program-form__svg-mail {
      fill: #68b738;
    }

    & ~ .program-form__svg-tel {
      fill: #68b738;
    }
  }
}

.program-form__input::-webkit-outer-spin-button,
.program-form__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.program-form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center;

  @include tablet {
    width: 50%;
    margin-left: 61px;
    text-align: left;
  }

  @include desktop {
    margin-left: 82px;
  }
}

.program-form__main-info-wrapper {
  padding: 0 $mobile-padding;

  @include tablet {
    padding: 0 $tablet-padding;
  }

  @include desktop {
    display: flex;
    padding: 0 $desktop-padding;
  }
}

.program-form__wrapper-out {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.program-form__program-choice-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-bottom: 23px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.program-form__additional-wrapper {
  display: flex;
  flex-direction: column;
  border: none;

  @include tablet {
    /* width: 100%; */
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.program-form__input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.program-form__comment {
  width: 100%;
  height: 150px;
  resize: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;
  padding-top: 11px;
}

.program-form__submit {
  @include tablet {
    width: 50%;
    max-width: 283px;
  }

  @include desktop {
    max-width: 568px;
  }
}

.program-form__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-padding;
  padding-bottom: 20px;

  @include tablet {
    padding: 0 $tablet-padding;
  }

  @include desktop {
    width: 100%;
    padding: 0;
    flex-direction: column;
    margin-bottom: 82px;
  }
}

.program-form > .program-form__wrapper:last-child {
  @include tablet {
    flex-direction: row;
    padding: 0;
  }

  @include desktop {
    width: 1220px;
  }
}

.program-form__wrapper--contacts {
  @include desktop {
    box-sizing: border-box;
    flex-direction: row;
  }
}

.program-form__wrapper--info {
  @include tablet {
    box-sizing: border-box;
    width: 100%;
  }

  @include desktop {
    padding-right: 80px;
  }
}

.program-form__wrapper--outline {
  @include tablet {
    margin-top: 72px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    outline: 1px solid #ededed;
  }

  @include desktop {
    margin-top: 0;
  }
}

.program-form__line-green {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -46px;
    right: 21px;
    width: 50%;
    height: 3px;
    background-color: #68b738;
    z-index: -1;

    @include tablet {
      width: 100%;
      top: 52px;
    }
  }
}

.program-form__svg-mail {
  position: absolute;
  top: 18px;
  right: 5px;
  width: 18px;
  height: 14px;
}

.program-form__svg-tel {
  position: absolute;
  top: 18px;
  right: 5px;
  width: 21px;
  height: 21px;
}

.program-form__checkbox-label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -32px;
    display: block;
    width: 30px;
    height: 30px;
    outline: 1px solid #cdcdcd;

    @include tablet {
      width: 40px;
      height: 40px;
      top: -7px;
      left: -42px;
    }
  }
}

.program-form__checkbox:checked ~ .program-form__checkbox-label {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -27px;
    display: block;
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");

    @include tablet {
      top: 2px;
      left: -30px;
    }
  }
}

.program-form__checkbox:hover ~ .program-form__checkbox-label {
  &::before {
    border: 1px solid #bababa;
  }
}

.program-form__checkbox:active ~ .program-form__checkbox-label {
  opacity: 0.3;
}

.program-form__checkbox-wrapper {
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 20px;

  @include tablet {
    width: 43%;
  }

  @include desktop {
    width: 21%;
  }
}
