.program-form {
  margin-bottom: 12px;

  /* @include tablet {
    padding-left: 70px;
  } */
}

.program-form .line {
  top: 32px;

  @include tablet {
    top: 43px;
  }

  @include desktop {
    top: 63px;
  }
}

.program-form .subsection-name {
  @include tablet {
    margin-left: -40px;
    padding-right: 43px;
  }
}

.program-form__text {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  padding: 0 $mobile-padding;
  margin-bottom: 22px;

  @include tablet {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-top: 58px;
    margin-bottom: 47px;
  }

  /* @include desktop {
    padding: 0;
  } */
}

.program-form__label,
.program-form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  white-space: nowrap;

  @include tablet {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    width: auto;
  }
}

.program-form__label {
  position: relative;
  align-self: center;

  @include tablet {
    width: auto;
  }
}

.program-form__radio ~ .program-form__label {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: -46px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    @include tablet {
      top: -4px;
      left: -60px;
      width: 40px;
      height: 40px;
    }
  }
}

.program-form__radio:checked ~ .program-form__label {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: -35px;
    width: 12px;
    height: 12px;
    background-color: #68b738;
    border-radius: 50%;

    @include tablet {
      top: 7px;
      left: -48px;
      width: 18px;
      height: 18px;
    }
  }
}

.program-form__radio:hover ~ .program-form__label {
  &::before {
    border: 1px solid #bababa;
  }
}

.program-form__radio:active ~ .program-form__label {
  opacity: 0.3;
}

.program-form__radio-wrapper {
  margin-left: 45px;
  margin-top: 23px;

  @include tablet {
    margin-top: 33px;
    margin-left: 0;
  }
}

.program-form__input[type="number"] {
  appearance: textfield;
}

.program-form__input {
  appearance: none;
  width: 100%;
  height: 40px;
  padding-left: 13px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  outline: 1px solid rgba(205, 205, 205, 0.5);

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    height: 45px;
    margin-left: 19px;
    padding-left: 16px;
  }

  @include desktop {
    padding-left: 17px;
  }

  &:hover {
    outline: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    outline: 2px solid #444444;

    & ~ .program-form__svg-mail {
      fill: #68b738;
    }

    & ~ .program-form__svg-tel {
      fill: #68b738;
    }
  }
}

.program-form__input::-webkit-outer-spin-button,
.program-form__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.program-form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 0;
  margin-top: 21px;

  @include tablet {
    font-size: 16px;
    width: 50%;
    margin-top: 56px;
    margin-left: 61px;
    text-align: left;
  }

  @include desktop {
    margin-left: 82px;
  }
}

.program-form__main-info-wrapper {
  padding: 0 $mobile-padding;

  @include tablet {
    padding: 0 $tablet-padding;
  }

  @include desktop {
    display: flex;
    padding: 0 $desktop-padding;
  }
}

.program-form__wrapper-out {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include desktop {
    flex-direction: row;
    margin-bottom: 30px;
  }
}

.program-form__program-choice-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-bottom: 23px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.program-form__additional-wrapper {
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 18px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    /* width: 100%; */
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding-left: 58px;
    padding-top: 22px;
    margin-top: 46px;
  }

  @include desktop {
    padding-top: 24px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 38px;
  }
}

.program-form__input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 14px;

  @include tablet {
    margin-top: 20px;
  }
}

.program-form__comment {
  width: 280px;
  height: 150px;
  resize: none;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;
  padding-top: 11px;
  margin-top: 32px;

  @include tablet {
    width: 631px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 77px;
    padding-left: 21px;
    box-sizing: border-box;
  }

  @include desktop {
    width: 1220px;
  }
}

.program-form__submit {
  margin-top: 42px;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    width: 50%;
    max-width: 283px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include desktop {
    max-width: 568px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.program-form__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-padding;
  padding-bottom: 20px;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    width: 100%;
    padding: 0;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.program-form > .program-form__wrapper:last-child {
  @include tablet {
    flex-direction: row;
    padding: 0;
    margin-top: 23px;
    margin-bottom: 75px;
  }

  @include desktop {
    width: 1220px;
    margin-top: 29px;
    margin-bottom: 97px;
  }
}

.program-form__wrapper--comments {
  margin-top: 33px;
  padding-bottom: 0;
}

.program-form__wrapper--contacts {
  margin-top: 19px;
  padding-bottom: 0;

  @include tablet {
    margin-top: 58px;
  }

  @include desktop {
    box-sizing: border-box;
    flex-direction: row;
    margin-bottom: 0;
  }
}

.program-form__wrapper--contacts .program-form__input-wrapper {
  @include desktop {
    width: 570px;
  }
}

.program-form__wrapper--contacts .program-form__input-wrapper:nth-of-type(2) {
  @include desktop {
    margin-left: 78px;
  }
}

.program-form__wrapper--contacts .program-form__input {
  margin-left: 11px;

  @include tablet {
    margin-left: 18px;
  }
}

.program-form__wrapper--info {
  margin-bottom: 9px;

  @include tablet {
    margin-bottom: 0;
    box-sizing: border-box;
    width: 100%;
  }

  @include desktop {
    width: 570px;
  }
}

.program-form__wrapper--outline {
  @include tablet {
    margin-top: 73px;
    margin-bottom: 39px;
    padding-top: 0;
    padding-bottom: 33px;
    padding-left: 89px;
    outline: 1px solid #ededed;
  }

  @include desktop {
    width: 570px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 19px;
    margin-left: 79px;
  }
}

.program-form__wrapper--button {
  margin-bottom: 10px;
}

.program-form__line-green {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -46px;
    right: 21px;
    width: 50%;
    height: 3px;
    background-color: #68b738;
    z-index: -1;

    @include tablet {
      width: 100%;
      top: 52px;
    }
  }
}

.program-form__svg-mail {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 18px;
  height: 14px;
}

.program-form__svg-tel {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 21px;
  height: 21px;
}

.program-form__checkbox-label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -45px;
    display: block;
    width: 30px;
    height: 30px;
    outline: 1px solid #cdcdcd;

    @include tablet {
      width: 40px;
      height: 40px;
      top: -4px;
      left: -57px;
    }
  }
}

.program-form__checkbox:checked ~ .program-form__checkbox-label {
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -41px;
    display: block;
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");

    @include tablet {
      top: 7px;
      left: -47px;
    }
  }
}

.program-form__checkbox:hover ~ .program-form__checkbox-label {
  &::before {
    border: 1px solid #bababa;
  }
}

.program-form__checkbox:active ~ .program-form__checkbox-label {
  opacity: 0.3;
}

.program-form__checkbox-wrapper {
  margin-left: 45px;
  margin-top: 23px;
  /* margin-bottom: 20px; */

  @include tablet {
    width: 40%;
    margin: 0;
  }

  @include desktop {
    /* width: 21%; */
    width: 325px;
  }

  &:nth-of-type(1) {
    @include desktop {
      margin-left: 20px;
    }
  }

  &:nth-of-type(4) {
    width: auto;
  }

  &:nth-of-type(2n) {
    @include tablet {
      margin-left: 114px;
    }

    @include desktop {
      margin-left: 0;
    }
  }

  &:nth-of-type(n+3) {
    @include tablet {
      margin-top: 51px;
    }

    @include desktop {
      margin-top: 0;
    }
  }
}
