.program-choice {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  align-items: center;

  @include retina {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: contain;
  }

  @include tablet {
    background-image: none;
    padding-left: 90px;
    padding-bottom: 529px;
    align-items: stretch;
  }

  @include desktop {
    padding-left: 140px;
  }
}

.program-choice__text {
  color: white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;

  @include tablet {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    text-align: initial;
  }
}

.program-choice__image {
  width: 280px;
  height: 270px;
  margin-top: 10px;

  @include tablet {
    position: absolute;
    z-index: -1;
    bottom: -19px;
    left: 0;
    width: 709px;
    height: 609px;
  }

  @include desktop {
    width: 552px;
    height: 499px;
    top: 0;
    left: 450px;
    padding-bottom: 262px;
  }
}

.program-choice__button {
  font-size: 14px;
  line-height: 18px;
  padding-left: 70px;
  padding-right: 70px;

  @include tablet {
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    /* margin-bottom: 200px; */
  }
}

.program-choice__title {
  color: white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;

  @include tablet {
    width: 420px;
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @include desktop {
    margin-top: 80px;
  }
}
