.program-choice {
  box-sizing: border-box;
  width: 320px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 29px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 217px;
}

.program-choice__text {
  color: white;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @include tablet{
    color: #111111;
    font-size: 20px;
    font-weight: 20px;
  }
}

.program-choice__button {
  font-size: 14px;
  line-height: 18px;

  @include tablet{
    font-size: 20px;
    line-height: 20px;
  }
}
