.program-form__text{
    font-size: 14px;
    line-height: 18px;
    color: #111111;
    text-align: left;
}

.program-form__label{
    font-size: 16px;
    line-height: 18px;
    color: #222222;
    text-align: left;
}

.program-form__input{
    background-color: #cdcdcd;
    opacity: 0.5;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-align: left;
}

.program-form__footnote{
    font-family: "ArialMT";
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    text-align: center;
}
