.promo {
  width: 280px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.promo__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;
}
