.promo {
  width: 100%;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  margin-top: 39px;
  margin-bottom: 35px;
}

.promo__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;
}
