.section-name {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  box-sizing: border-box;
  margin: 0;

  @include tablet {
    font-size: 60px;
    &--center {
      text-align: center;
    }
  }

  @include desktop {
    &--center {
      text-align: left;
    }
  }
}
