.section-name {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  box-sizing: border-box;
  margin: 0;

  /*   &--padding {
    padding: 0 $mobile-padding;
  } */

  @include tablet {
    font-size: 60px;
    /* 
    &--padding {
      padding: 0 $tablet-padding;
    } */
  }

  @include desktop {
    /*     &--padding {
      padding: 0 $desktop-padding;
    } */
  }
}
