.section-name {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  box-sizing: border-box;
  margin: 0;

  @include tablet {
    font-size: 60px;
    border-top: none;

    &--center {
      text-align: center;
    }
  }

  @include desktop {
    &--center {
      text-align: left;
    }
  }

  &--catalog {
    border-top: 1px solid #ededed;

    @include tablet {
      border-top: none;
    }
  }
}
