.social-list {
  list-style: none;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 72px;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 280px;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  margin-top: 30px;

  @include tablet {
    width: auto;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: -9px;
    margin-left: 18px;
  }
}

.social-list__item {
  margin-left: 38px;

  @include tablet {
    margin-left: 28px;
  }
}

.social-list__item:nth-of-type(1) {
  margin-left: 0;
}

.social-list__item:nth-of-type(1) .social-list__svg {
  width: 22px;
  height: 12px;

  @include tablet {
    width: 30px;
    height: 16px;
  }
}

.social-list__item:nth-of-type(2) .social-list__svg {
  width: 17px;
  height: 17px;

  @include tablet {
    width: 23px;
    height: 23px;
  }
}

.social-list__item:nth-of-type(3) .social-list__svg {
  width: 10px;
  height: 19px;

  @include tablet {
    width: 14px;
    height: 28px;
  }
}

.social-list__svg {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
