/* @import "blocks/additional-goods.scss"; */
@import "blocks/advantages.scss";
@import "blocks/btn.scss";
@import "blocks/catalog-choice.scss";
@import "blocks/catalog.scss";
/* @import "blocks/contacts.scss"; */
@import "blocks/description-list.scss";
/* @import "blocks/example.scss"; */
@import "blocks/footer.scss";
@import "blocks/header.scss";
@import "blocks/main-index__h1.scss";
@import "blocks/program-choice.scss";
/* @import "blocks/program-form.scss"; */
/* @import "blocks/promo.scss"; */
@import "blocks/section-name.scss";
@import "blocks/social-list.scss";
@import "blocks/subsection-name.scss";

@font-face{
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

@font-face{
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

@font-face{
  font-family: "ArialMT";
  font-style: normal;
  font-weight: 400;
  src: local("ArialMT"),
    url("../fonts/arialMT.ttf") format("ttf");
}

body {
  font-family: "Oswald", "Arial", sans-serif;
}

a{
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px;
	overflow: hidden;
}
